@charset "UTF-8";

.pagination {
  display: table;
    width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.pagination ul {
	list-style:none;
	float:left;
	display:inline;
}
.pagination .page-btn {
	float:left;
	white-space:nowrap;
}
.pagination .page-btn a {
	float:left;
	padding:4px;
	margin-right:3px;
	width:30px;
	color:#000;
	font:bold 12px tahoma;
	border:1px solid #eee;
	text-align:center;
	text-decoration:none;
}
.pagination .page-btn a:hover, .pagination .page-btn a:focus {
	color:#fff;
	border:1px solid #f40;
	background-color:#f40;
}

.card {
	width: 18rem;
	display: inline-block;
	margin: 10px;
}

.card strong {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}

.card a {
	text-decoration: none;
	color: black;
}

.card img {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 150px;
}

.card span {
	display: block;
	text-align: center;
}

li {
	list-style: none;
}