<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myweb.mybatis.mapper.HotelMapper">

        
    <select id="getHotelList" resultType="com.myweb.dto.HotelDTO">
        <![CDATA[
        SELECT hotel_name, post_num, contact, address, latitude, longitude, outline, scale, volume, rooms, room_type, parking, cooking, check_in, check_out, reservation, home_page, pick_up, café, other, seminar, sports, sauna, beauty, karaoke, bbq, campfire, bicycle_rental, gym, public_pc, shower, information
   		 FROM hotel
        ]]>
    </select>
    
    <select id="getHotelNmaeList" resultType="com.myweb.dto.HotelDTO">
        <![CDATA[
        SELECT hotel_name FROM hotel
        ]]>
    </select>
    
    

</mapper>